<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /hiddentracks
RewriteRule ^hiddentracks/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /hiddentracks/index.html [L]
</IfModule>
